body, html {
    overflow-x: hidden;
    background-color: #F3EEDD !important;
  }
.about-container { 
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-gap: 20px; 
    width: 100%; 
    align-items: center;
    align-content: center;
    background-color: #000000;
} 
.about { 
    margin: 10px; 

}
.about-img{
    align-self: center;
}
.about-img img{
    margin-left: 100px;
}
.about-text{
    height: 550px;
    max-width: 100%; 
    margin-right: 100px; 
}
.about{
    display: flex;
    flex-direction: column;
    justify-content:center;
}
.about-text h2{
    font-family: 'Playfair', serif;
    font-size: 45px;
    color: #AC974C;
}
.about-text p{
    font-family: 'Prata', serif;
    font-size: 20px;
    color: white;
}

@font-face {
    font-family: "Alta";
    src: url(/static/alta-regular.otf);
}
.navbar{
    height: 12%;
    display: flex;
    align-items: center;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    background-color: #F3EEDD !important;
}
.navbar a {
    text-decoration: none;
}
.logo{
    font-family: "Alta";
    width: 260px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    color: #000000;
}
.fr-logo{
    font-family: "Alta";
    width: fit-content;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    color: #000000;
}
.navbar .container{
    width: max-content;
}
nav{
    flex:1;
    text-align: right;
}
nav ul li .nav-item{
    padding-top: 10px;
    display: inline-block;
    list-style: none;
    margin-left: 60px;
}
nav ul li a{
    text-decoration: none;
    color:#AC974C;
    font-size: 20px;
    font-family: 'Alta';
    padding-inline: 30px;
} 
.small-container{
    display: flex;
    justify-content: center;
    width: 100%;
    align-content: center;
    margin-left: -30px;
}
button.navbar-toggler {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.navbar-nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
.cell{
    width: 33%;
    height:350px;
    margin:0 8px;
    overflow: hidden;
    border-radius: 0px;
    margin-top: 2%;
}
.cell img{
    width: 100%;
    height: 350px;
    object-fit: cover;
}

h5{
    font-family: 'Playfair', serif;
    font-weight: bold;
    color: #AC974C;
}
.nav-item{
    font-family: 'Playfair', serif;
    font-size: 20px;
    color: #000000;
}
.flex-container{
    justify-content: space-evenly;
}
.hours-div{
    width:fit-content ;
}
.opening-hours{
    text-align: justify;
    justify-content: space-between;
 }
.nav-link{
    color: #000000 !important;
}
.copyright{
    font-family: 'Playfair', serif;
    font-size: 20px;
    padding-left: 20px;
    color: #000000 !important;
}
.nav img{
    width: 46px;
    height: 46px;
}
nav img{
    width: 38px;
    height: 38px;
}
.flex-container {
    display: flex;
}

.flex-grow {
    flex-grow: 1;
}
.sqs-html-content{
    font-family: 'Playfair', serif;
    font-weight: bold;
    padding-top: 80px;
    align-items: center;
}
.sqs-html-content a{
    font-weight: normal;
    font-size: larger;
    text-decoration: none;
    color: #AC974C;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.map iframe{
    width: 100%;
    height: 350px;
   
}
.payment-options .sqs-html-content.pay-icon img{
    padding-left: 45%;
    margin-top: -250px;
    margin-bottom: -200px;
}
.collapsible {
    background-color: #F3EEDD;
    box-shadow: inset 5px;
    cursor: pointer;
    padding: 18px;
    width: 80%;
    align-items: center;
    border-top-color: #000000;
    border-width: 3px;
    border-left: none;
    border-right: none;
    border-bottom: none;
    text-align: left;
    outline: none;
    font-size: 26px;
    font-family: 'Playfair', serif;
    font-weight: bold;
    margin-left: 140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
button span{
    color: #000000;
}
.item-list{
    padding-top: 80px;
}
.openclose{
    transform: rotate(45deg);
    transition: 0.2s;
}
.active, .collapsible:hover {
    background-color: #ebdeb2;
}
.hover-underline-animation {
    display: inline-block;
    position: relative;
}

.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #AC974C;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
.collapsible:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
.hover-underline-animation.active:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
.active .openclose{
    transform: rotate(0);
    transition: 0.2s;
}
.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    font-family: 'Playfair', serif;
    font-size: 18px;
    width: 80%;
    align-items: center;
    margin-left: 140px;
    transition: max-height 0.2s ease-out;
    background-color: #ebdeb2;
    position: relative; /* Add relative positioning to contain pseudo-element */
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}
.content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 7px; /* Adjust the height of the shadow as needed */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, transparent 100%); /* Create a gradient shadow at the top */
}
.container{
    width: 100%;
}
.service-img img{
    width: 100%;
    height: 500px;
    padding-bottom: 10px;
}
.service-title h2{
    text-align: center;
    padding-top: 60px;
    margin-bottom: -40px;
    font-family: 'Playfair', serif;
    font-size: 48px;
    font-weight: bold;
    color: #000000;
}
.menu-list {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

.menu-item .newprice {
    margin-bottom: 10px;
}

.menu-title {
    font-size: 17px;
}

.menu-title.cancel {
    padding-left: 10px;
}

.menu-title.newprice {
    width: 75%;
    font-size: 33px;
    display: inline-block;

}

.menu-price {
    width: 20%;
    display: inline-block;
    text-align: end;
    font-size: 33px;
}
.menu-block p{
    font-size: 20px;
}
.acuity-embed-button {
    all: unset !important;
}
.acuity-embed-button {
    text-decoration: none !important;
    color: #AC974C !important;
    font-size: 20px !important;
    font-family: 'Alta' !important;
    
}
/* Contact Section */
.contact-title h2{
    text-align: center;
    padding-top: 60px;
    font-family: 'Playfair', serif;
    font-size: 48px;
    font-weight: bold;
    color: #000000;
}
.email-window{
    height: 600px;
    width: 75%;
    border: 3px solid #AC974C;
    border-radius: 30px;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto; /* This will center the element horizontally */
    margin-top: 40px;
    padding: 60px;
    display: flex;
    align-items: center;
}
.form-field{
    display: flex;
    flex-direction: column;
    height: 85%;
    width: 85%;
}
.top-form-row{
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.top-form-row input{
    height: 40%;
    width: 40%;
    border-radius: 30px;
    border: 3px solid #AC974C !important;
    background-color: #F3EEDD !important;
    font-family: 'Playfair', serif;
    padding-left: 15px;
}
.bottom-form-row{
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.bottom-form-row input{
    height: 40%;
    width: 40%;
    border-radius: 30px;
    border: 3px solid #AC974C !important;
    background-color: #F3EEDD !important;
    font-family: 'Playfair', serif;
    padding-left: 15px;
}
.text-row textarea {
    width: 100%;
    height: 280%;
    border: 3px solid #AC974C !important;
    background-color: #F3EEDD !important;
    font-family: 'Playfair', serif;
    border-radius: 30px;
    padding: 10px;
    resize: none;

}
.top-form-row input:focus,
.bottom-form-row input:focus,
.text-row textarea:focus {
    border: 3px solid #AC974C !important;
    background-color: #F3EEDD !important;
    outline: none;
}
.form-submit-button{
    margin-top: 120px;
    margin-bottom: -30px;
    width: 100%; /* Adjust this as needed */
    display: flex;
    justify-content: center; /* This will center the button horizontally */
    align-items: center;
    align-content: center;
}
.btn-primary{
    border: 3px solid #AC974C !important;
    background-color: #AC974C !important;
    color: #000000 !important;

}
.add_flashes{
    width: 98%;
    font-family: 'Playfair', serif;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
 /* Adjust styles for TABLET screens */
 @media (max-width: 991px) {
    /* Header */
    .navbar {
        flex-direction: column;
        align-items: center;
    }
    .navbar-nav{
        align-items: center;
        justify-content: center;
    }
    .navbar ul {
        flex-direction: column;
        align-items: center;
    }
    
    .navbar li {
        margin: 10px 0; /* Adjust spacing as needed */
    }
    .header-icons{
        display: flex;
        justify-content: space-around;
    }
    .col {
      font-size: 14px; /* Adjust as needed */
      width: 50%;
    }
  
    .container {
      width: 90%; /* Adjust as needed */
      margin: 0 auto; /* Centers the container */
    }
    .about-container {
        grid-template-columns: 1fr;
    }

    .about-img {
        margin: 0 auto;
    }

    .about-text {
        height: auto;
    }

    .navbar {
        padding-left: 5%;
        padding-right: 5%;
    }

    .navbar-brand {
        font-size: 24px;
    }

    .navbar-toggler {
        padding: 0.25rem 0.5rem;
    }

    nav ul li {
        margin-left: 0;
        margin-top: 10px;
    }
    
    .cell {
        width: 100%;
        margin: 0;
    }
    
    .cell img {
        height: auto;
    }
    .small-container {
        display: flex;
        text-align: center;
        justify-content: center; /* Center the content */
        align-items: center;
        flex-direction: column;
        margin: 0; /* Top, right, bottom, and left margins are 0 */
    }
    /* Footer */
    .opening-hours{
       text-align: justify;
    }
    .flex-container{
        display: flex;
        justify-content: space-evenly;
    }
    /* Services Page*/
    .collapsible{
        margin: 0 50px 0 0;
        width: 100%;
    }
    .content{
        margin: 0 50px 0 0;
        width: 100%;
    }
    .item-menu.container{
        width: 100%;
    }
    /* Home Page */
    .about-container{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .about{
        width: 100%;
        align-items: center;
    }
    .about-img{
        width: max-content;
        align-items: center;
    }
    .about-img img{
        display: block;
        margin: 0 45px 0 0;
    }
    .about-text{
        margin: 0 0 0 10px;
        text-align: center;
    }
    /* .slides{
        padding: 30px 0 0 0;
    } */
    .cell{
        width: 300px;
        height:300px;
        margin:0 8px;
        overflow: hidden;
        border-radius: 0px;
        margin-top: 2%;
    }
    .cell img{
        width: 100%;
        height: 350px;
        object-fit: cover;
    }
    .flickity-page-dots{
        display: none;
    }

 }
@media (max-width: 480px) {
    /* Header */
    .navbar {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logo {
        text-align: center;
    }
    .navbar-toggler {
        padding: 0.25rem 0.5rem;
        margin: 0 auto;
    }
    .toggler-div {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto; /* Top and bottom margins are 0, left and right margins are auto */
    }
    .small-container {
        display: flex;
        text-align: center;
        justify-content: center; /* Center the content */
        align-items: center;
        flex-direction: column;
        margin: 0; /* Top, right, bottom, and left margins are 0 */
    }
    .navbar.navbar-light.bg-light.d-lg-none{
        text-align: center;
    }
    .navbar-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    /* Footer */
    .copyright-div{
        width: 100%;
    }
    .flex-container{
        justify-content: space-evenly;
        text-align: center;
    }
    .hours-div{
        width: max-content;
    }
    .opening-hours{
        text-align: center;
        justify-content: space-between;
    }
    /* Contact Page */
    .top-form-row{
        flex-direction: column;   
    }
    .top-form-row input{
        width: max-content;
    }
    .bottom-form-row{
        flex-direction: column;   
    }
    .bottom-form-row input{
        width: max-content;
    }
    .text-row{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .text-row textarea{
        width: 170%;
        margin-left: -50px;
    }
    /* Home Page */
    .about-img img{
        display: block;
        width: 350px;
        height: 350px;
    }
    .about-text{
        margin: 0 3px 0 0;
    }
    .info .row.sqs-row{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 10px 0 0;
    }
    .payment-options .sqs-html-content.pay-icon img{
        padding-left: 35%;
    }
    
    
}