body, html {
    overflow-x: hidden;
  }
.about-container { 
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-gap: 20px; 
    width: 100%; 
    align-items: center;
    align-content: center;
    background-color: black;
} 
.about { 
    margin: 10px; 

}
.about-img{
    align-self: center;
}
.about-text{
    height: 550px;
    max-width: 100%;  
}
.about{
    display: flex;
    flex-direction: column;
    justify-content:center;
}
.about-text h2{
    font-family: 'Playfair', serif;
    font-size: 45px;
    color: #AC974C;
}
.about-text p{
    font-family: 'Prata', serif;
    font-size: 20px;
    color: white;
}

@font-face {
    font-family: "Alta";
    src: url(/static/alta-regular.otf);
}
.logo{
    font-family: "Alta";
    width: 260px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
}
.navbar{
    height: 12%;
    display: flex;
    align-items: center;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}
nav{
    flex:1;
    text-align: right;
}
nav ul li{
    padding-top: 10px;
    display: inline-block;
    list-style: none;
    margin-left: 60px;
}
nav ul li a{
    text-decoration: none;
    color:#AC974C;
    font-size: 20px;
    font-family: 'Alta';
} 
.cell{
    width: 33%;
    height:350px;
    margin:0 15px;
    overflow: hidden;
    border-radius: 8px;
    margin-top: 2%;
}
.cell img{
    width: 100%;
    height: 350px;
    object-fit: cover;
}
h5{
    font-family: 'Playfair', serif;
    font-weight: bold;
    color: #AC974C;
}
.nav-item{
    font-family: 'Playfair', serif;
    font-size: 20px;
    color: black;
}
.nav-link{
    color: black !important;
}
.copyright{
    font-family: 'Playfair', serif;
    font-size: 20px;
    padding-left: 20px;
    color: black !important;
}
.nav img{
    width: 46px;
    height: 46px;
}
nav img{
    width: 38px;
    height: 38px;
}
.sqs-html-content{
    font-family: 'Playfair', serif;
    font-weight: bold;
    padding-top: 80px;
    align-items: center;
}
.sqs-html-content a{
    font-weight: normal;
    font-size: larger;
    text-decoration: none;
    color: #AC974C;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.map iframe{
    width: 100%;
    height: 350px;
   
}
.payment-options .sqs-html-content.pay-icon img{
    padding-left: 45%;
    margin-top: -250px;
    margin-bottom: -200px;
}
.collapsible {
    background-color: #fff;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 80%;
    align-items: center;
    border-top-color: black;
    border-width: 3px;
    border-left: none;
    border-right: none;
    border-bottom: none;
    text-align: left;
    outline: none;
    font-size: 26px;
    font-family: 'Playfair', serif;
    font-weight: bold;
    margin-left: 140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.item-menu{
    padding-top: 80px;
}
.openclose{
    transform: rotate(45deg);
    transition: 0.2s;
}
.active, .collapsible:hover {
    background-color: white;
}
.hover-underline-animation {
    display: inline-block;
    position: relative;
}

.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #AC974C;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
.collapsible:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
.hover-underline-animation.active:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
.active .openclose{
    transform: rotate(0);
    transition: 0.2s;
}
.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    font-family: 'Playfair', serif;
    font-size: 18px;
    width: 80%;
    align-items: center;
    margin-left: 140px;
    transition: max-height 0.2s ease-out;
}
.container{
    width: 100%;
}
.service-img img{
    width: 100%;
    height: 500px;
    padding-bottom: 10px;
}
.service-title h2{
    text-align: center;
    padding-top: 60px;
    margin-bottom: -40px;
    font-family: 'Playfair', serif;
    font-size: 48px;
    font-weight: bold;
}
.menu-list {
    padding-left: 10px;
    padding-right: 10px;
}

.menu-item .newprice {
    margin-bottom: 10px;
}

.menu-title {
    font-size: 17px;
}

.menu-title.cancel {
    padding-left: 10px;
}

.menu-title.newprice {
    width: 75%;
    font-size: 33px;
    display: inline-block;

}

.menu-price {
    width: 20%;
    display: inline-block;
    text-align: end;
    font-size: 33px;
}
.menu-block p{
    font-size: 20px;
}



