{%include 'header.html'%}
    <section class="main">
        <div class="about-container">
            <div class="about about-img"><img src="https://lirp.cdn-website.com/4a0ce194/dms3rep/multi/opt/image_6483441_preview_rev_1-378w.png", alt="Brand photo", width="550px", height="550px"></div>
            <div class="about about-text">
                <h2>With over 20 years of experience, </h2>
                <p>Colana is an international style innovator, creating cutting edge hair designs for everyone and influencers worldwide. Colana has a true eye for beauty and stays on top of trends by constantly revitalizing her style and skills. Specializing in weaves, wigs silk press and wraps.</p>
            </div>
        </div>
    </section>
    <section class="slides">
        <div class="main-carousel">
            {%for photo in photos%}
                <div class="cell">
                    {% if photo.is_video %}
                        <video src="static/index-images/{{photo.filename}}" autoplay loop muted playsinline></video>
                    {% else %}
                        <img src="static/index-images/{{photo.filename}}" alt="carousel photo">
                    {% endif %}
                </div>
            {%endfor%}
        </div>
    </section>
    <section class="info">
        <div class="row sqs-row">
            <div class="col sqs-col-1 span-1"><div class="sqs-block spacer-block sqs-block-spacer sized vsize-1"></div></div>
            <div class="col sqs-col-3 span-3">
                <div class="sqs-block html-block sqs-block-html">
                    <div class="sqs-html-content">
                        <h2 style="text-align:center;white-space:pre-wrap;">CALL</h2>
                        <p style="text-align:center;white-space:pre-wrap;">
                            <a href="tel:(514) 365-4444" target="_blank">(514) 365-4444</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col sqs-col-4 span-4">
                <div class="sqs-block html-block sqs-block-html">
                    <div class="sqs-html-content">
                        <h2 style="text-align:center;white-space:pre-wrap;">VISIT</h2>
                        <p style="text-align:center;white-space:pre-wrap;">
                            <a href="https://www.google.com/maps?q=1658 Rue Thierry, LaSalle Quebec H8N 2K4" target="_blank">1658 Rue Thierry, LaSalle Quebec H8N 2K4</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col sqs-col-3 span-3">
                <div class="sqs-block html-block sqs-block-html">
                    <div class="sqs-html-content">
                        <h2 style="text-align:center;white-space:pre-wrap;">EMAIL</h2>
                        <p style="text-align:center;white-space:pre-wrap;">
                            <a href="mailto:colanawilliams@gmail.com" target="_blank">colanawilliams@gmail.com</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col sqs-col-1 span-1"><div class="sqs-block spacer-block sqs-block-spacer sized vsize-1"></div></div>
        </div>
        <div  class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2799.6756467740247!2d-73.62711782372753!3d45.43603937107352!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cc911f276039bcb%3A0x8adc7303f3385889!2sCocoa%E2%80%99s%20Hair%20Bar!5e0!3m2!1sen!2sca!4v1695140004923!5m2!1sen!2sca" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section>
    <section class="payment-options">
            <div class="row sqs-row">
        
                <div class="col sqs-col-3 span-3">
                    <div class="sqs-block html-block sqs-block-html">
                        <div class="sqs-html-content pay-icon">
                            <img src="static/icons8-paypal-48.png" alt="Paypal Icon">
                        </div>
                    </div>
                </div>
        
                <div class="col sqs-col-3 span-3">
                    <div class="sqs-block html-block sqs-block-html">
                        <div class="sqs-html-content pay-icon">
                            <img src="static/icons8-visa-48.png" alt="Visa Icon">
                        </div>
                    </div>
                </div>
        
                <div class="col sqs-col-3 span-3">
                    <div class="sqs-block html-block sqs-block-html">
                        <div class="sqs-html-content pay-icon">
                            <img src="static/icons8-mastercard-48.png" alt="Mastercard Icon">
                        </div>
                    </div>
                </div>

            </div>
    </section>
{%include 'footer.html'%}


<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<script type="text/javascript">
    $('.main-carousel').flickity({
  // options
  cellAlign: 'left',
  wrapAround:true,
  freeScroll: true
});
</script>
</body>
</html>