{%include 'header.html'%}
<!DOCTYPE html>
<html>
<head>
    <title>Services</title>
</head>
<body>
    <!-- <div class="service-img">
        <img src="static/salon.jpg" alt=""> -->
    </div>
    <div class="service-title">
        <h2>Services</h2>
    </div>
    <div class="item-list"
        <div class="item-menu">
            {% set service_types = ["Base Services", "Wigs", "Weaves", "Braids", "Silk Press", "Silk Wraps", "Locs", "Colour", "Haircuts", "Ponytails/Updos", "Chemical Services", "Treatments"] %}
            {% for service_type in service_types %}
                <div class="item-menu container">
                    <button type="button" class="collapsible" onclick="toggleActive(this)">
                        <span class="hover-underline-animation">{{ service_type }}</span>
                        <div class="openclose">
                            <img src="static/icons8-x-48.png">
                        </div>
                    </button>
                    <div class="content">
                        <div class="menu-list">
                            <div class="hr"></div>
                            {% for service in services %}
                                {% if service[2] == service_type %}
                                    <div class="menu-block">
                                        <div class="menu-item newprice">
                                            <div class="menu-title newprice">{{ service[1] }}</div>
                                            <div class="menu-price">
                                                <div class="price">${{ service[3] }}</div>
                                            </div>
                                        </div>
                                        <p class="p2 pricedetail">{{ service[4] }}</p>
                                        <div class="hr pricelist"></div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
</body>
{%include 'footer.html'%}
<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.maxHeight){
      content.style.maxHeight = null;
    } else {
      content.style.maxHeight = content.scrollHeight + "px";
    } 
  });
}
function toggleActive(button) {
    var span = button.querySelector('.hover-underline-animation');
    span.classList.toggle('active');
}
</script>
</html>